<?xml version="1.0"?>

<launch>

 <!-- Fake laser -->
  <node pkg="nodelet" type="nodelet" name="laserscan_nodelet_manager" args="manager"/>
  <node pkg="nodelet" type="nodelet" name="depthimage_to_laserscan"
        args="load depthimage_to_laserscan/DepthImageToLaserScanNodelet laserscan_nodelet_manager">
     <param name="scan_height" value="1"/> 
     <param name="scan_time" value="0.033"/>
     <param name="range_min" value="0.45"/>
     <param name="range_max" value="10.0"/>
     <param name="min_height" value=".10"/>
     <param name="max_height" value="2.0"/>
     <param name="output_frame_id" value="robot2_tf/depth_camera_link"/>
     <remap from="image" to="/iris_downward_camera/camera/depth/image_raw"/>
     <remap from="camera_info" to="/iris_downward_camera/camera/rgb/camera_info"/>
     <remap from="/scan" to="robot2/scan"/> 
  </node>
</launch>
