<?xml version="1.0"?>
<launch>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find aerial_guided_navigation)/launch/config/turtlebot_navigation.rviz"/>
  <node pkg="tf" type="static_transform_publisher" name="map_to_robot1_odom_broadcaster" args="0 0 0 0 0 0 map robot1_tf/odom 100"/>
  <node pkg="tf" type="static_transform_publisher" name="world_to_map_broadcaster" args="0 0 0 0 1.5708 0 map robot2_tf/odom 100"/>
</launch>
